.top{
    background-color: #0E0E0E;
    width: 100%;
    height: 33.97px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    
}
.topLeft{
    color:#FFA17A;
    cursor: pointer;
    margin-left: 72.15px;
   
}
.topLeft i{
    padding: 10.76px 43.84px 10.19px 0px;
}
.topRight{
    
    display: flex;
    flex-direction: row;
    margin-right: 67.94px;
    margin-top: 5px;
}
.topRight i{
    color:#FFA17A;
    margin-top: 5px;
 
}
.topRight p{
    color: white;
    margin-top: 3px;
    margin-left: 12px;
}